/* CSS Document */
@font-face {
    font-family: ITC Grouch;
    src: local("fonts/GrouchITCbyBT-Regular.otf") format("opentype");
}

.nav {
  display: flex;
  color: white;
  font-size: 1.1em;
}

.nav-link a{
	padding-left: 2em;
	text-decoration: none;
	color: white;
}

.nav-items {
  display: flex;
}
.nav-right {
	padding-top: 2em;
	margin-left:auto;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .nav-items,
  .nav {
    flex-direction: row;
  }
.nav-items {
    display:none;
  }
.nav-right {
    margin-left:0 auto;
		padding-top: 1em;
		display: flex;
		flex-direction: column;
  }
}

.nav-link a{
	color: white;
	text-decoration: none;
	padding-right: 3em;
}

.logo{
	width: 5em;
	height: 5em;
}

.logo-container{
	padding: 1em 3em 0em 3em;
}

.header{
	background-color: #5bc6e4;
}


.footer{
	text-align:center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: #f9d433;
}

.footer p{
	margin-top: 1em;
	margin-bottom: 1em;
}

.header-splash h4{
	font-family: 'ITC Grouch', 'Inria Serif Bold', 'Futura PT Bold', 'serif';
	font-size: 4em;
}

.header-splash{
	padding: 1em 3em 0em 3em;
  font-size: 1.1em;
}

.page-title h4{
	font-family: 'ITC Grouch', 'Inria Serif Bold', 'Futura PT Bold', 'serif';
	font-size: 4em;
	text-align: center;
	margin: 0;
}

.page-title p{
	padding-left: 3em;
	padding-right: 3em;
}

.page-content {
	font-weight: 400;
	padding: 0em 3em 0em 3em;
}

.page-content p + ul{
  margin-top: -10px;
}

.page-content li{
  margin-bottom: 0;
}


.form {
  padding: 0em 3em 0em 3em;
}

.form-input {
  width: 24em;
  height: 5em;
}

.form-container{
  width: 50%;
}

.form-section{
  padding-top: 0.5rem;
}

.form-checkboxes ul li:first-child {
  margin-top: 0.5em;
}

.form-checkboxes ul li {
  margin-bottom: 0;
}

.form-checkboxes ul li label {
  display: inline;
  padding-left: 1em;
}

/* .form-contact {
  display: flex;
  flex-direction: row;
} */

/* .form-contact-div{
  padding-right: 2em;
} */


input{
  margin-bottom: 0em;
}

h5{
  margin-bottom: 0rem;
}

#signup{
	background-color: whitesmoke;
	margin-bottom: 2em;
}

.triplet-card{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0em 3em 3em 3em;
}

.triplet{
	display: flex;
	flex-direction: row;
	padding: 3em 3em 3em 3em;
}

.twin-card{
	display: flex;
	flex-direction: row;
	padding: 0em 3em 3em 3em;
}

.snapshot{
	padding: 1em;
	margin-left: 6em;
	margin-right: 6em;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: 400;
	font-family: "p22-underground", "futura-pt", Helvetica, "sans-serif";
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	flex-wrap: wrap;
	width: 200px;
	height: 250px;
	box-sizing: border-box;

}

.snapshot a{
	text-decoration: none;
/*	margin: 0 auto;*/
}

.m{
	border-color: #de51e0;
	border-style: solid;
	border-width: thick;
}

.s{
	border-color: #f9d433;
	border-style: solid;
	border-width: thick;
}

.pr{
	border-color: #f5ab2b;
	border-style: solid;
	border-width: thick;
}

.card-name {
	font-family:"p22-underground", "futura-pt", Helvetica, "sans-serif";
	font-weight: 600;
/*	margin-bottom: 2em;*/
	/* margin-top: 2em;
	padding-top: 8em; */
	position: relative;
}

.card-image{
	padding-top: 1em;
	/* height: 75%; */
	width: 80%;
/*	position: absolute;*/
}

.card-page-img img{
	width: 35%;
	height: 50%;
	display: block;
	margin: 0 auto;

}

.card-page-img{
	padding-top: 2em;
	padding-left: 3em;
}

.page-img img{
	width: 35%;
	height: 50%;
	display: block;
	margin: 0 auto;

}

.card-page-img{
	padding-top: 2em;
	padding-left: 3em;
}

.page-img img{
	padding: 0em 3em 0em 3em;
	width: 35%;
	height: 50%;
	display: block;
}

.challenge{
	padding: 1em;
/*	margin-top: 10em;*/
	margin-left: 6em;
	margin-right: 6em;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-weight: 400;
	font-family: "p22-underground", "futura-pt", Helvetica, "sans-serif";
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.challenge img{
	width: 75%;
}

.challenge-text h2{
	font-family: 'ITC Grouch', 'Inria Serif Bold', 'Futura PT Bold', 'serif';
	font-size: 2em;
}
